.listarespecialidades-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.listarespecialidades-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.listarespecialidades-container p {
  font-size: 18px;
}

.especialidades {
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
